*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    --primary-color: #D4A5A5;
    --secondary-color: #D1E8E2;
    --third-color: #D1E8E2;
}


/* Header Section */

.pageTitle{
    font-size: 3rem;
    color: #303030;
    font-weight: 800;
}

.header{
    background-color: var(--secondary-color);
    padding-bottom: 1.5rem;
    display: grid;
    grid-template-columns: minmax(550px, 900px);
    border: 1px solid rgb(139, 139, 139);
}

.hDescText{
    padding-left: 5rem;
    padding-right: 5rem;
    font-size: 1.3rem;
}
#headerImg{
    height: 3rem;
    margin-top: 2px;
}
.headerTitle{
    display: grid;
    grid-template-columns: 1fr 30fr;
    gap: 1rem;
    padding: 1rem;
    padding-left: 5rem;
}

/* Book Content */

.topContent{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: var(--primary-color);
    padding: 1rem;
    align-items: center;
}

.addButton{
    height: 3rem;
    width: 7rem;
    border-radius: 3rem;
    background-color: var(--secondary-color);
    border: 1px solid black;
    font-size: 1.3rem;
}

.contentTitle{
    padding-left: 3rem;
    font-size: 1.5rem;
    font-weight: 900;
    color: #303030;
}

.content{
    height: 80vh;
    background-color: var(--primary-color);
}

.book{
    font-size: 1rem;
    background-color: var(--third-color);
    height: 8rem;
    width: 13rem;
    padding: 2rem;
    border: 1px solid #303030;
    border-radius: 15px;
}

#bookCards{
    padding: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 1rem;
}
.bookTitle{
    font-weight: 800;
}
@media (max-width: 1300px) {
    #bookCards {
        grid-template-columns: 1fr 1fr 1fr 1fr; /* Change to one column */
        grid-template-rows: auto;   /* Adjust rows automatically based on content */
    }
}

@media (max-width: 1000px) {
    #bookCards {
        grid-template-columns: 1fr 1fr 1fr; /* Change to one column */
        grid-template-rows: auto;   /* Adjust rows automatically based on content */
    }
}

@media (max-width: 700px) {
    #bookCards {
        grid-template-columns: 1fr 1fr; /* Change to one column */
        grid-template-rows: auto;   /* Adjust rows automatically based on content */
    }
}

@media (max-width: 550px) {
    #bookCards {
        grid-template-columns: 1fr; /* Change to one column */
        grid-template-rows: auto;
        padding-left: 5rem;   /* Adjust rows automatically based on content */
    }
}

.bookTitle{
    font-weight: 800;
    font-size: 1.2rem;
    padding-bottom: 0.3rem;
}

.bookButton{
    margin-top: 1.6rem;
    background-color: var(--primary-color);
    border: 1px solid #303030;
    border-radius: 15px;
    height: 1.7rem;
    width: 3.5rem;
}
.bookButton:hover{
    background-color: wheat;
}

.removeButton{
    margin-top: 1.6rem;
    background-color: var(--primary-color);
    border: 1px solid #303030;
    border-radius: 15px;
    height: 1.7rem;
    width: 3.5rem;
}

.removeButton:hover{
    background-color: rgb(114, 34, 28);
}