*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}


/* Header Section */

.pageTitle{
    font-size: 3rem;
    color: #303030;
    font-weight: 800;
}

.header{
    background-color: #D1E8E2;
    padding-bottom: 1.3rem;
    display: grid;
    grid-template-columns: minmax(550px, 1fr);
}

.hDescText{
    padding-left: 5rem;
    padding-right: 5rem;
    font-size: 1.3rem;
}
#headerImg{
    height: 3rem;
    margin-top: 2px;
}
.headerTitle{
    display: grid;
    grid-template-columns: 1fr 30fr;
    gap: 1rem;
    padding: 1rem;
    padding-left: 5rem;
}

/* Book Content */

.content{
    height: 80vh;
    background-color: #D4A5A5;
}